# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [20]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [21]:
chipo = pd.read_csv(url, sep='\t')
chipo.sample(20)

,order_id,quantity,item_name,choice_description,item_price
3552,1427,1,Bottled Water,NaN,$1.50
157,71,1,Veggie Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
2588,1026,1,Chips and Guacamole,NaN,$4.45
731,302,1,Chips and Guacamole,NaN,$3.99
187,84,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Fajita Vegg...",$11.48
265,115,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2580,1023,2,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",$16.98
3720,1486,1,Chicken Bowl,"[Fresh Tomato Salsa, [Guacamole, Lettuce, Rice...",$11.25
3352,1344,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.75
4298,1714,1,Chips and Guacamole,NaN,$4.45
2935,1167,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Let...",$9.25
2968,1181,1,Chicken Salad,"[Fresh Tomato Salsa (Mild), Black Beans]",$8.49
454,195,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",$9.25
1416,575,1,Chips and Guacamole,NaN,$4.00
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25
2322,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",$8.75
2261,911,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
4017,1608,1,Chicken Soft Tacos,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
3857,1546,1,Chips and Guacamole,NaN,$4.45

### Step 4. How many products cost more than $10.00?

In [22]:
chipo['item_price'] = chipo.item_price.str.slice(start=1).astype('float')
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [23]:
more_than_10 = chipo.item_price > 10.00
len(chipo[more_than_10])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [24]:
chipo_more_10 = chipo[more_than_10]
chipo_more_10 = chipo_more_10.loc[ : ,['item_name', 'item_price'] ]
chipo_more_10.sort_values(by='item_price', ascending=False)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
3602               Chicken Burrito       35.00
1254               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
476                Chicken Burrito       10.58
2919                  Chicken Bowl       10.58
3520               Chicken Burrito       10.58
1099               Chicken Burrito       10.58
3599                 Bottled Water       10.50

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [25]:
chipo_more_10_sorted = chipo_more_10.sort_values(by=['item_name'], inplace=True)

In [26]:
print(chipo_more_10_sorted)

None

### Step 7. What was the quantity of the most expensive item ordered?

In [27]:
most_expensive = chipo.item_price.max()
chipo.loc[ chipo.item_price == most_expensive  , ['item_name', 'quantity', 'item_price']]

                         item_name  quantity  item_price
3598  Chips and Fresh Tomato Salsa        15       44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [28]:
chipo.item_name.str.contains('Veggie Salad Bowl').sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [35]:
canned_soda= chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity >1)]
canned_soda.count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64