# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df.copy()

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
len(chipo.index)   # There are 4622 obs

4622

### Step 6. What is the number of columns in the dataset?

In [10]:
len(chipo.columns)  # There are 5 columns

5

### Step 7. Print the name of all the columns.

In [11]:
print(list(chipo.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [14]:
chipo.index   # 0 to 4621

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [53]:
most_ordered = (chipo.groupby(['item_name']).quantity.sum()
                        .sort_values(ascending=False, kind='stable')
                        .reset_index()
                        .rename(columns={'item_name': 'Ordered_Item', 'quantity': 'Items_Orderd'}))
most_ordered.loc[ :9, ]
# Most ordered was Chicken Bowl

                   Ordered_Item  Items_Orderd
0                  Chicken Bowl           761
1               Chicken Burrito           591
2           Chips and Guacamole           506
3                 Steak Burrito           386
4             Canned Soft Drink           351
5                         Chips           230
6                    Steak Bowl           221
7                 Bottled Water           211
8  Chips and Fresh Tomato Salsa           130
9                   Canned Soda           126

### Step 10. How many items were ordered?

In [54]:
most_ordered.head()

          Ordered_Item  Items_Orderd
0         Chicken Bowl           761
1      Chicken Burrito           591
2  Chips and Guacamole           506
3        Steak Burrito           386
4    Canned Soft Drink           351

### Step 11. What was the most ordered item in the choice_description column?

In [55]:
most_ordered_choice = (chipo.groupby(['choice_description']).quantity.count()
                        .sort_values(ascending=False, kind='stable')
                        .reset_index()
                        .rename(columns={'choice_description': 'Ordered_Choice', 'quantity': 'Choice_Orderd'}))
most_ordered_choice.loc[ :9, ]

                                      Ordered_Choice  Choice_Orderd
0                                        [Diet Coke]            134
1                                             [Coke]            123
2                                           [Sprite]             77
3  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...             42
4  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...             40
5  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...             36
6  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...             33
7                                         [Lemonade]             33
8  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...             29
9  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]             28

### Step 12. How many items were orderd in total?

In [58]:
most_ordered.Items_Orderd.sum()
# In total 3376 items

4972

### Step 13. Turn the item price into a float

In [78]:
# # chipo.info()

# converter = lambda x: pd.to_numeric(x.str[1:])
# chipo = chipo.item_price.apply(converter)
# chipo.info()

### Step 15. How many orders were made in the period?

In [81]:
# chipo.head(10)

total_orders = chipo.quantity.sum()
total_orders

4972

### Step 16. What is the average amount per order?

In [86]:
chipo['Total_order'] = chipo.item_price * chipo.quantity

chipo.head(10)

TypeError: cannot convert the series to <class 'float'>

### Step 17. How many different items are sold?